home/.local
home/.vim/bundle
home/.vim/ftplugin
home/.ssh/known_hosts
home/.config
!home/.config/zsh
!home/.config/ipython/extentions
!home/.config/ipython/nbextentions
!home/.config/ipython/profile_andmalc

*#*/*.pyc
*.swp
home/.ssh/environment*
.zcompdump
.zsh_history



