home/.local

#Fish
dotfiles/fish/.config/fish/fishd*
dotfiles/fish/.config/fish/fisher
dotfiles/fish/.config/fish/functions/
dotfiles/fish/.config/fish/fish_variables
dotfiles/fish/.config/fish/fish_plugins
dotfiles/fish/.config/fish/conf.d/

#Nvim
dotfiles/nvim/.config/nvim/plugged

# Tmux
**/.tmux/plugins
#!**/.tmux/plugins/tpm
**/.tmux/resurrect

# Vim
*.zwc
**/.vim/bundle/*
!**/.vim/bundle/Vundle.vim
**/.vim/ftplugin
**/.vim/pack/*
**/.vim/.netrwhist
dotfiles/vim/.vim/plugin/background.vim

home/dotconfig
!home/dotconfig/zsh/zshrc
!home/dotconfig/zsh/zshenv

dotfiles/multi/.config/gcloud/

home/.config/prog/
!home/.config/prog/ipython/extentions
!home/.config/prog/ipython/nbextentions
!home/.config/prog/ipython/profile_andmalc

home/.gnupg
!home/.gnupg/pubring.gpg
!home/.gnupg/secring.gpg
!home/.gnupg/trustdb.gpg

**/dotfiles/localbin
!**/dotfiles/localbin/.local/bin/tmux-set-escape.sh

# File Types
*#*/*.pyc
*.swp
.zcompdump
.zcompcache
.zsh_history

# SSH
**/.ssh/*known_hosts
**/.ssh/environment*
**/.ssh/authorized_keys


