home/.local

#Fish
dotfiles/fish/.config/fish/fishd*
dotfiles/fish/.config/fish/fisher
dotfiles/fish/.config/fish/functions/
dotfiles/fish/.config/fish/fish_variables
dotfiles/fish/.config/fish/fish_plugins
dotfiles/fish/.config/fish/conf.d/

home/.gnupg
!home/.gnupg/pubring.gpg
!home/.gnupg/secring.gpg
!home/.gnupg/trustdb.gpg

#Micro
dotfiles/micro/.config/micro/backups
dotfiles/micro/.config/micro/buffers

#Nvim
dotfiles/nvim/.config/nvim/plugged
dotfiles/nvim/.config/nvim/undodir

#Python
home/.config/prog/
!home/.config/prog/ipython/extentions
!home/.config/prog/ipython/nbextentions
!home/.config/prog/ipython/profile_andmalc

# SSH
**/.ssh/*known_hosts
**/.ssh/environment*
**/.ssh/authorized_keys

# Tmux
**/.tmux/plugins
#!**/.tmux/plugins/tpm
**/.tmux/resurrect

# Vim
*.zwc
**/.vim/bundle/*
!**/.vim/bundle/Vundle.vim
**/.vim/ftplugin
**/.vim/pack/*
**/.vim/.netrwhist
dotfiles/vim/.vim/plugin/background.vim

dotfiles/multi/.config/gcloud/

# File Types
*#*/*.pyc
*.swp



