[user]
	email = andmalc@gmail.com
	name = Andrew Malcolmson
[push]
	default = simple
[core]
	editor = vim
	whitespace = off
	pager = less -r
[advice]
	statusuoption = false
[color]
	ui = true
[alias]
	graph = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset'
